In [1]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [30]:
#Exececute path to use Splinter
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Scrape Mars news
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
#Scrape latest Mars article
news_title = soup.find('div', class_='content_title').text
news_body = soup.find('div', class_='article_teaser_body').text

In [5]:
#Scrape featured image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
feature = soup.find('div', class_='img')
feature_img = feature.img['src']
feature_img_url = f'https://www.jpl.nasa.gov{feature_img}'

In [7]:
# Scrape Twitter for Mars weather
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [8]:
mars_weather = soup.find('div', class_='js-tweet-text-container').find('p').text

In [31]:
# Scrape Mars facts
url = 'https://space-facts.com/mars/'
tables = pd.read_html(url)

In [ ]:
mars_table = tables[0]
mars_table.columns = ['Description', 'Value']

In [43]:
mars_table = mars_table.set_index('Description')
mars_table

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [44]:
html_table = mars_table.to_html()

In [45]:
html_table=html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [46]:
#Save as html file
mars_table.to_html('mars_table.html')

In [14]:
#Scrape Hemisphere images
hem_urls =[]

for x in range(4):
    url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
    browser.visit(url)
    click_here= browser.find_by_tag('h3')[x].click()
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    hem = soup.find('img', class_='wide-image')['src']
    hem_url = f'https://astrogeology.usgs.gov{hem}'
    hem_title = soup.find('h2', class_='title').text
    hem_title = hem_title.replace(' Enhanced','')
    
    hem_urls.append({"title": hem_title, "img_url": hem_url})
    x+=1

In [15]:
# Store data in a dictionary
mars_data = {
    "Latest_Headline": news_title,
    "Latest_Text": news_body,
    "Featured_Image": feature_img_url,
    "Current_Weather": mars_weather,
    "Facts_Table": html_table,
    "Hemisphere_Images": hem_urls
    }

In [47]:
mars_data

{'Latest_Headline': 'After a Reset, Curiosity Is Operating Normally',
 'Latest_Text': "NASA's Mars rover Curiosity is in good health but takes a short break while engineers diagnose why it reset its computer. ",
 'Featured_Image': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23047-640x350.jpg',
 'Current_Weather': 'InSight sol 88 (2019-02-25) low -95.2ºC (-139.4ºF) high -17.8ºC (0.0ºF)\nwinds from the SW at 5.2 m/s (11.6 mph) gusting to 19.8 m/s (44.3 mph)\npressure at 7.20 hPapic.twitter.com/1msjBvhiu7',
 'Facts_Table': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'Hemisphere_Images': [{'title': 'Cerberus Hemisphere',
   'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere',
   'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere',
   'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere',
   'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]}